
html, body, main, section, header, ul, p, h1, h2, h3 {
  font-family: Calibri, 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0; padding: 0;
  display: block;
}

a {
  color: #0064BD;
  text-decoration: none;
}

a:visited {
  color: #7B0796;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  color: #898989;
  font-size: 2em;
  position: relative;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  margin-top: 0;
  width: 66%;
  float: left;
}

table {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3em;
}

td:first-child {
  text-align: right;
  color: #A9A9A9;
  /*letter-spacing: 5px;*/
  font-weight: bold;
}

td:last-child {
  text-align: justify; /* HTML justification sucks, but in this case... */
}

hr {
  display: none;
}

main {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-top: 1em;
}

section > div {
  margin-top: 1em;
  overflow: hidden; /* Clear floated children */
}

section > div p {
  clear: both;
}

section > header {
  position: relative;
}

li {
  margin-left: 2em;
}

p, li {
  text-align: justify;
}

.tenure {
  float: right;
}

thead {
  display: none;
}

main > header {
  width: 100%;
  float: left;
  margin-bottom: 1em;
}

h1 {
  float: left;
}

h1, h2, .label {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

#contact {
 clear: both;
 float: right;
}

header > span.fa {
  text-align: center;
  margin-right: 3px;
  position: absolute;
  width: 40px;
  top: 10px;
  font-size: 30px;
  /*transform: translateX(-110%); PDF no likey */
  margin-left: -50px;
  color: #DADADA;
}

.label {
  float: right;
  color: #DADADA;
}

#summary {
  color: #717171;
  font-size: 1.25em;
}


dl.margins-removed {
    margin: 0;
    padding: 0;
}

.margins-removed dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.margins-removed dd {
    margin: 0 0 1em 0;
    padding: 0;
}


.surname {
    color: #C00000;
}

.employer_name,
.institution_name {
    color: #0064BD;
}