<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Very hackish but want one file as the output so styles are inlined here in the header -->
    <style>
        {% include 'compact.css' %}
    </style>
</head>
<body>
<main>
    <header>
        <h1>{{ name.split()[0] }} <span class="surname">{{ name.split()[-1] }}</span></h1>
        <span class="label">{{ info.label }}</span>
        <p id="contact">
            <span class="email"><a
                href="mailto:{{ contact.email }}">{{ contact.email }}</a></span>
            <span class="phone">{{ contact.phone }}</span>
        </p>
    </header>

    {# optional summary aka breif #}
    {% if info.brief %}
        <section id="summary">
            {{ info.brief }}
        </section>
    {% endif %}

    {# skills  #}
    <section id="skills">
        <header>
            <span class="fa fa-lg fa-star"></span>
            <h2>Skills</h2>
            <dl class="margins-removed">
                {% for set in skills.sets %}
                    <dt>{{ set.name }}</dt>
                    <dd>{{ ', '.join(set.skills) }}</dd>
                {% endfor %}
            </dl>
        </header>
    </section>

    {# employment history #}
    <section id="employment">
        <header>
            <span class="fa fa-lg fa-building"></span>
            <h2>Employment</h2>
        </header>
        {% for placement in employment.history %}
            <div>
                <h3>
                    <em>{{ placement.position }}</em>
                    {% if placement.employer %}
                        {% if placement.url %}<a href="{{ placement.url }}">{% endif %}
                        , <span class="employer_name">{{ placement.employer }}</span>
                        {% if placement.url %}</a>{% endif %}
                    {% endif %}
                </h3>
                <span class="tenure">
                    {{ ' - '.join([placement.start or '',  placement.end or '']) }}
                </span>
                <p>
                    {{ placement.summary }}
                </p>
            </div>
        {% endfor %}
    </section>

    {# Education #}
    <section id="education">
        <header>
            <span class="fa fa-lg fa-mortar-board"></span>
            <h2>Education</h2>
        </header>
        {% for item in education.history %}
        <div>
            <h3>
                <em>{{ item.title }}</em><br/>
                {% if item.institution %}
                    <span class="institution_name">{{ item.institution }}</span>
                {% endif %}
            </h3>
            <span class="tenure">
                {{ ' - '.join([item.start or '',  item.end or '']) }}
            </span>
            <p>
                {{ item.summary }}
            </p>
        </div>
        {% endfor %}
    </section>
</main>
</body>
</html>
